---
import path from "path"
import { getCollection } from "astro:content"

import { BASEURL } from "../../consts"
import Back from "../../components/Back.astro"
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
  const albums = await getCollection("gallery")

  return albums.map(({ id, data: { title, files } }) => ({
    params: { id },
    props: { title, files }
  }))
}

const { id } = Astro.params
const { title, files } = Astro.props
const images = files
  .sort((a, b) => a.localeCompare(b))
  .map((i) => path.join(BASEURL, id, i))
---

<style>
  h1 {
    @apply text-3xl
    text-orange-500;
  }

  article {
    @apply text-center
    columns-1 sm:columns-2 lg:columns-3;
  }

  img {
    @apply m-1
    bg-transparent
    rounded
    shadow hover:shadow-lg
    transition-all
    ease-in-out
    duration-300
    cursor-pointer;
  }

  img:fullscreen {
    @apply bg-neutral-900;
  }

  :fullscreen .controlButton {
    display: none !important;
  }
</style>

<Layout aside={false}>
  <section id={id}>
    <div class="flex flex-col">
      <div class="flex items-center justify-center">
        <h1>{title}</h1>
      </div>
      <Back />
    </div>
    <article>
      {images.map((img) => <img src={img} alt={img} />)}
    </article>
  </section>
  <script>
    document.querySelectorAll("img").forEach((e) => {
      e.addEventListener("click", (e: MouseEvent) => {
        if (document.fullscreenElement) {
          document.exitFullscreen()
          return
        }

        const img = e.target as HTMLImageElement
        img.requestFullscreen({ navigationUI: "hide" })
      })
    })
  </script>
</Layout>
