---
import { getCollection } from "astro:content"

// Layout
import Layout from "../layouts/Layout.astro"
import { getEntry } from "astro:content"

// Components
import Back from "../components/Back.astro"
import Postinfo from "../components/Postinfo.astro"

// Css
import "../styles/post.css"

// Content
export async function getStaticPaths() {
  const allPosts = (await getCollection("posts"))
    .sort((a: any, b: any) => a.data.id - b.data.id)
    .reverse()

  return (allPosts || []).map((p: any) => ({
    params: { slug: p.slug },
  }))
}

const { slug } = Astro.params

const post = await getEntry("posts", slug)
const { Content } = post ? await post.render() : {}
const { title, updated, created, created_by } = post?.data || {}
---

<style>
  h1 {
    @apply text-orange-500
    p-0 m-0;
  }
  section {
    @apply mb-4;
  }
</style>

<Layout back={false}>
  <section class="grid" id={`${post?.id}`} data-slug={slug}>
    <h1>{title}</h1>
    <Back />
    <Postinfo updated={updated || created} created_by={created_by} />
  </section>
  <section class="content">
    {Content ? <Content /> : "Content not found"}
  </section>
</Layout>
