---
// Constants
import { CATEGORIES } from "../consts"
// Contents
import { getCollection } from "astro:content"
// Components
import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"

export async function getStaticPaths() {
  const posts = (await getCollection("posts"))
    .sort((a, b) => a.data.id - b.data.id)
    .reverse()

  return CATEGORIES.map((cat) => {
    return {
      params: { category: cat },
      props: {
        posts: posts.filter(({ data: { category } }) => category === cat),
      },
    }
  })
}

const { category } = Astro.params
const { posts } = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/content/posts/**/*.{jpg,jpeg,png}"
)
---

<style>
  section {
    @apply grid
    grid-cols-1 sm:grid-cols-2
    gap-2;
  }
</style>

<Layout back={true}>
  <section class={category}>
    {
      posts.map(
        async ({ slug, data: { id, title, cover, updated, created } }) => {
          let img: any = images["/src/content/posts/no-cover.jpg"]()
          try {
            img = cover != "" ? cover : images[`/public/${cover}`]()
            console.log({ img })
          } catch (e) {
            console.log(e)
          }

          return (
            <Card
              id={id}
              link={`/${slug}`}
              src={img}
              alt={title}
              title={title}
              date={updated || created}
            />
          )
        }
      )
    }
  </section>
</Layout>
