---
// Constants
import { CATEGORIES } from "../consts";
// Contents
import { getCollection } from "astro:content";
// Components
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
// Utils
import { handleCover } from "../utils";

export async function getStaticPaths() {
  const posts = (await getCollection("posts"))
    .sort(
      ({ data: { updated: a } }, { data: { updated: b } }) =>
        a.valueOf() - b.valueOf()
    )
    .reverse();

  return CATEGORIES.map((cat) => {
    return {
      params: { category: cat },
      props: {
        posts: posts.filter(({ data: { category } }) => category === cat),
      },
    };
  });
}

const { category } = Astro.params;
const { posts } = Astro.props;

const assets = import.meta.glob<{ default: ImageMetadata }>(
  "/src/content/posts/*.{jpg,jpeg,png}"
);
---

<style>
  section {
    @apply grid
    grid-cols-1 sm:grid-cols-2
    gap-2;
  }
</style>

<Layout back={true}>
  <section class={category}>
    {
      posts.map(
        async ({ slug, data: { id, title, cover, updated, created } }) => (
          <Card
            id={id}
            link={`${import.meta.env.BASE_URL}/${slug}`}
            src={handleCover(cover, assets)}
            alt={title}
            title={title}
            date={updated || created}
          />
        )
      )
    }
  </section>
</Layout>
