---
// Components
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
// Resources
import baia from "../assets/categories/baialupo.jpg";
import guide from "../assets/categories/guide.jpg";
import news from "../assets/categories/news.jpg";
import sicurezza from "../assets/categories/sicurezza.jpg";
---

<style>
  .categories {
    @apply grid
    grid-cols-1 md:grid-cols-2
    gap-2
    mx-auto
    max-w-xl;
  }
</style>

<Layout back={true}>
  <div class="flex-1 flex flex-col pb-4">
    <section class="categories">
      <Card
        link={`${import.meta.env.BASE_URL}/baialupo`}
        `
        src={baia}
        alt="Baialupo"
        title="Baialupo"
      />
      <Card
        link={`${import.meta.env.BASE_URL}/guide`}
        `
        src={guide}
        alt="Guide"
        title="Guide"
      />
      <Card
        link={`${import.meta.env.BASE_URL}/news`}
        src={news}
        alt="News"
        title="News"
      />
      <Card
        link={`${import.meta.env.BASE_URL}/sicurezza`}
        src={sicurezza}
        alt="Sicurezza"
        title="Sicurezza"
      />
    </section>
  </div>
</Layout>
