---
import { Image } from "astro:assets"
import { formatDate } from "../utils"

const {
  link,
  src,
  alt,
  title,
  date,
  featured = false,
  quality = 100,
  loading = "eager"
} = Astro.props
---

<style>
  .card {
    @apply relative
     p-2
     bg-neutral-100
     rounded
     shadow hover:shadow-lg
     transition-all ease-in-out duration-300;
  }

  .card img {
    @apply h-[75%]
    pb-1
    object-cover
    aspect-[4/3];
  }

  .card article {
    @apply h-[25%]
     flex flex-col
     justify-center
     items-center
     text-center;
  }

  .card article div {
    @apply absolute
     bottom-0 right-0
     leading-3
     rounded-tl-full
     bg-orange-500;
  }

  .card article div h6 {
    @apply px-2 text-right
     text-orange-50;
  }

  .title {
    @apply leading-4
     text-neutral-700
     font-semibold;
  }

  .card:hover .title {
    @apply text-orange-500;
  }

  .date {
    @apply pt-1
      text-sm;
  }

  .featured {
    @apply absolute
     bottom-0
     right-0
     pl-5 pr-2
     leading-6
     text-base
     rounded-tl-full
     text-orange-50
     bg-orange-500;
  }

  .featured div {
    @apply font-semibold;
  }

  .card:hover .featured div {
    @apply animate-bounce;
  }
</style>

<section class="card">
  <a href={link}>
    {
      typeof src === "string" ? (
        <img class="cover w-full aspect-square" src={src} alt={alt} />
      ) : (
        <Image
          class="cover w-full aspect-square"
          src={src}
          alt={alt}
          quality={quality}
          loading={loading}
        />
      )
    }
    <article>
      {title && <span class="title">{title}</span>}
      {date && <span class="date">{formatDate(date)}</span>}
    </article>
    <section class={featured ? "featured" : "hidden"}>
      <span>New</span>
    </section>
  </a>
</section>
