---
import { MENU_ITEMS } from "../consts"
---

<style>
  .drawer-menu {
    @apply h-full
     w-full max-w-screen-xs
     px-4 py-4
     flex flex-col gap-4
     bg-base-100/95;
  }

  ul.menu {
    @apply gap-y-4 text-2xl xs:text-xl;
  }
</style>

<div class="drawer-menu">
  <div class="text-right">
    <label
      for="site-drawer"
      aria-label="close sidebar"
      class="btn btn-circle btn-ghost"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path></svg
      >
    </label>
  </div>

  <ul class="menu">
    {
      MENU_ITEMS.map((item) =>
        item.childs ? (
          <li>
            <details>
              <summary>{item.label}</summary>
              <ul>
                {item.childs.map((child) => (
                  <li>
                    <a href={child.path}>{child.label}</a>
                  </li>
                ))}
              </ul>
            </details>
          </li>
        ) : (
          <li>
            <a href={item.path}>{item.label}</a>
          </li>
        )
      )
    }
  </ul>
</div>
