---
// Icons from https://icon-sets.iconify.design
import { Icon } from "astro-icon/components"

import { MENU_ITEMS } from "../consts"
import baia from "../assets/baia.png"
import cloud1 from "../assets/clouds/cloud1.png"
import cloud2 from "../assets/clouds/cloud2.png"
import cloud3 from "../assets/clouds/cloud3.png"
import cloud4 from "../assets/clouds/cloud4.png"
import cloud5 from "../assets/clouds/cloud5.png"
---

<style>
  header {
    @apply sticky
     h-[80px]
     w-full
     text-white 
     shadow sm:shadow-none
     bg-gradient-to-r 
    from-[#1983cf] 
    to-[#0f436a];
  }

  @media screen and (min-width: 640px) {
    .menu {
      @apply absolute
      z-50
      w-full
      flex
      items-center
      justify-center
      gap-x-3
      text-neutral-50;
    }

    .menu li > a > h4 {
      @apply drop-shadow;
    }
  }

  @media screen and (max-width: 640px) {
    .menu {
      @apply absolute
      z-50
      top-[81px]
      w-0
      pt-8
      h-screen
      flex
      flex-col
      gap-y-4
      justify-start
      items-center
      bg-neutral-100
      text-orange-500
      overflow-hidden
      duration-300
      transition-all;
    }

    .menu.open {
      @apply w-screen
      z-50;
    }
  }

  .mobile {
    @apply sm:hidden flex
     absolute 
     w-full
     h-full
     p-0 px-4 m-0
     justify-start
     items-center
     gap-x-4
     cursor-pointer;
  }

  .drawer li > a > h4 {
    @apply text-3xl
    drop-shadow-none;
  }

  .clouds {
    @apply inline-block
     absolute 
     top-0
     left-0
     w-full
     h-full
     overflow-hidden;
  }

  .clouds img {
    @apply absolute
     -z-10
     h-full
     min-w-[340px];
    animation: animate calc(20s * var(--i)) linear infinite;
  }

  @keyframes animate {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @media screen and (max-width: 430px) {
    .icon img {
      @apply scale-90;
    }

    img.baia {
      @apply scale-[85%];
    }
  }
</style>

<header>
  <div class="clouds">
    <img src={cloud1.src} alt="clouds" style="--i:1;" />
    <img src={cloud2.src} alt="clouds" style="--i:2;" />
    <img src={cloud3.src} alt="clouds" style="--i:3;" />
    <img src={cloud4.src} alt="clouds" style="--i:4;" />
    <img src={cloud5.src} alt="clouds" style="--i:5;" />
  </div>

  <div class="mobile">
    <a href="#">
      <Icon name="propeller" class="w-12 h-12 text-transparent" />
    </a>

    <a href="/" class="flex-1">
      <img src={baia.src} alt="baia" class="baia" />
    </a>

    <button class="drawer-toggle text-neutral-200">
      <Icon name="menu" class="w-10 h-10" />
    </button>
  </div>

  <ul class="menu">
    <li>
      <a href="/">
        <Icon name="home" class="w-6 h-6" />
      </a>
    </li>
    {
      MENU_ITEMS.map((i) => (
        <li>
          <a href={i.path}>
            <h4>{i.label}</h4>
          </a>
        </li>
      ))
    }
  </ul>
</header>

<script>
  document
    .querySelectorAll<HTMLButtonElement>("button.drawer-toggle")
    .forEach((btn) => {
      btn.addEventListener("click", () => {
        document
          .querySelector<HTMLUListElement>("ul.menu")
          ?.classList.toggle("open")
      })
    })
</script>
